name: Build llama.cpp with CUDA

on:
  release:
    types: [published]

jobs:
  build:
    permissions:
      contents: write # for uploading release assets
    
    env:
      SOURCE_TAG: ${{ github.event.release.tag_name }}
      ARTIFACT: "llamacpp-${{ matrix.jobs.name }}.tar.gz"

    strategy:
      fail-fast: false
      matrix:
        jobs:
          # - name: amd64+cuda12
          #   runs-on: ubuntu-24.04
          #   cuda-toolkit: true

          - name: arm64+cuda12
            runs-on: ubuntu-24.04-arm
            cuda-toolkit: true

    runs-on: ${{ matrix.jobs.runs-on }}
    steps:
      - name: Clone llama.cpp
        uses: actions/checkout@v5
        with:
          repository: ggml-org/llama.cpp
          ref: ${{ env.SOURCE_TAG }}

      - name: Install dependencies
        run: |
          # Install CUDA toolkit if required
          if [ "${{ matrix.jobs.cuda-toolkit }}" = "true" ]; then
            case "$(dpkg --print-architecture)" in
              amd64)
                wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2404/x86_64/cuda-keyring_1.1-1_all.deb
                ;;
              arm64)
                wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2404/sbsa/cuda-keyring_1.1-1_all.deb
                ;;
              *)
                echo "Unsupported architecture for CUDA Toolkit installation"
                exit 1
              ;;
            esac
          
            sudo dpkg -i cuda-keyring_1.1-1_all.deb
            sudo apt-get -qq update
            sudo apt-get -qq install cuda-toolkit-12-9
          else
            sudo apt-get -qq update
          fi
          
          sudo apt-get -qq install build-essential

      - name: Build
        run: |
          # Set CUDA compiler for CUDA builds
          export CUDACXX=/usr/local/cuda/bin/nvcc
          
          # Configure and build llama.cpp
          cmake -B build -D LLAMA_CURL=OFF -D GGML_NATIVE=OFF -D GGML_CUDA=ON -D CMAKE_CUDA_ARCHITECTURES=all-major
          cmake --build build --config Release -j $(nproc)

      - name: Pack artifacts
        run: |
          # Prepare archive directory:
          # - bin for executables
          # - lib for shared libraries
          # - licenses directory

          mkdir -p archive/lib
          mv build/bin/*.so* archive/lib/
          mv build/bin archive/
          cp -r licenses archive/
          cp LICENSE archive/licenses/

          copy="cp --no-dereference -v {} archive/lib/ "
          find /usr -name "libcudart.so.*" -exec $copy \;
          find /usr -name "libcublas.so.*" -exec $copy \;
          find /usr -name "libcublasLt.so.*" -exec $copy \;

          tar -C archive -zcvf $ARTIFACT .

      - name: Upload artifact to release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.ARTIFACT }}
