name: Build tag

on:
  release:
    types: [created]

jobs:
  build:
    permissions:
      contents: write # for uploading release assets
    
    env:
      COMMON_CMAKE_VARS: "-DBUILD_SHARED_LIBS=OFF -DLLAMA_CURL=OFF -DGGML_NATIVE=OFF"

    strategy:
      fail-fast: false
      matrix:
        jobs:
          - name: amd64-avx-sse4
            runs-on: ubuntu-24.04
            additional-cmake-vars: "-DGGML_F16C=OFF -DGGML_FMA=OFF -DGGML_BMI2=OFF -DGGML_AVX2=OFF"

          - name: amd64-avx2
            runs-on: ubuntu-24.04
            # additional-cmake-vars: ""

          - name: amd64-avx512
            runs-on: ubuntu-24.04
            additional-cmake-vars: "-DGGML_AVX512=ON"

          - name: amd64-cuda
            runs-on: ubuntu-24.04
            additional-cmake-vars: "-DGGML_CUDA=ON -DCMAKE_CUDA_ARCHITECTURES=all-major"
            apt-dependencies: "nvidia-cuda-toolkit"

          - name: arm-neon
            runs-on: ubuntu-24.04-arm
            # additional-cmake-vars: ""

    runs-on: ${{ matrix.jobs.runs-on }}
    steps:
      - name: Clone
        id: checkout
        uses: actions/checkout@v5
        with:
          repository: ggml-org/llama.cpp
          ref: ${{ github.event.release.tag_name }}
          fetch-depth: 0

      - name: Dependencies
        id: depends
        run: |
          sudo apt-get update
          sudo apt-get install build-essential ${{ matrix.jobs.apt-dependencies }}

      - name: Build
        id: cmake_build
        run: |
          cmake -B build ${{ env.COMMON_CMAKE_VARS }} ${{ matrix.jobs.additional-cmake-vars }}
          cmake --build build --config Release -j $(nproc)

      - name: Pack artifacts
        id: pack_artifacts
        run: |
          cp LICENSE ./build/bin/
          zip -r llamacpp-${{ github.event.release.tag_name }}-${{ matrix.jobs.name }}.zip ./build/bin/*

      - name: Upload artifact to release
        uses: softprops/action-gh-release@v2
        with:
          files: llamacpp-${{ github.event.release.tag_name }}-${{ matrix.jobs.name }}.zip
